<!DOCTYPE html>
<html lang="en">

<%- include('./Partials/head.ejs') %>

    8

    <body>
        <%- include('./Partials/nav.ejs') %>
            <div class="blog content">
                <h1>All Users</h1>
                <!-- Ici on aura une table qui affiche tout les users -->
                <div class="user details content">

                    <table class="users-table">
                        <thead>
                            <tr>
                                <th>Reg_No</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Branche</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if (user) { %>
                                    <td>

                                        <%= user.reg_no %>
                                    </td>
                                    <td>
                                        <%= user.name %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.branche %>
                                    </td>
                                    <td>
                                        <%= user.phone %>
                                    </td>
                                    <td>
                                        <%= user.address %>
                                    </td>

                            </tr>
                            <% } else { %>
                                <p>Utilisateur non trouvé</p>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="user">
                    <a class="delete" data-doc="<%=user._id %>">Delete</a>
                </div>
                <script>
                    const poubelle = document.querySelector("a.delete");
                    poubelle.addEventListener("click", (e) => {
                        const endpoint = `/users/${poubelle.dataset.doc}`;
                        fetch(endpoint, {
                            method: "DELETE",
                        })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch((error) => {
                                console.log(error);
                            });
                    });
                </script>
                <%- include('./Partials/footer.ejs') %>

    </body>

</html>